.field {
  &--fullname {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: max-content 1fr;
    }
  }
}

.field__name {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-right: 24px;
    padding: 18px 0;
  }
}

.field__input {
  border: 0;
  border-bottom: 2px solid $black;
  width: 260px;
  height: 52px;
  padding: 17px 23px 17px 0;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    padding: 18px;
    width: 100%;
  }

  &--textarea {
    border: 2px solid $black;
    padding: 17px;
    height: 142px;

    @media (min-width: $tablet-width) {
      width: 500px;
      margin-left: 168px;
    }

    @media (min-width: $desktop-width) {
      width: 700px;
      margin-left: 115px;
    }
  }
}
