.page-form {
  padding-top: 17px;

  @media (min-width: $tablet-width) {
    padding-top: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 99px;
  }
}

.page-form__description {
  @include wrapper;
  padding: 0 30px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    padding: 0 100px 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 225px;
  }
}
