.about-us {
  font-weight: 700;
  color: $black;
  padding-top: 31px;
}

.about-us__inner {
  @include content-wrapper;
  margin: 0 auto;
}

.about-us__list {
  @include clear-list;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.about-us__item:nth-child(even) {
  @media (max-width: $mobile-width-only) {
    order: 2;
  }
}

.about-us__title {
  font-size: 25px;
  margin: 0 0 28px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }
}

.about-us__item {
  font-size: 17px;
  line-height: 20px;
  position: relative;
  padding-top: 60px;
  padding-right: 34px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;

    width: 334px;
    margin-bottom: 57px;
  }

  &::before {
    @include pseudo;
    background-repeat: no-repeat;
    left: 0;
    top: 6px;
  }

  &--eco {
    &::before {
      width: 33px;
      height: 38px;
      background-image: url("../img/eco.svg");
    }
  }

  &--price {
    &::before {
      width: 47px;
      height: 27px;
      background-image: url("../img/price.svg");
    }
  }

  &--likes {
    &::before {
      width: 34px;
      height: 27px;
      background-image: url("../img/likes.svg");
    }
  }

  &--love {
    &::before {
      width: 35px;
      height: 34px;
      background-image: url("../img/love.svg");
    }
  }

  &--support {
    &::before {
      width: 55px;
      height: 23px;
      background-image: url("../img/support.svg");
    }
  }

  &--gift {
    &::before {
      width: 33px;
      height: 32px;
      background-image: url("../img/gift.svg");
    }
  }
}
