.about-us {
  font-weight: 700;
  color: $black;
  padding: 38px 30px;
}

.about-us__list {
  @include clear-list;
}

.about-us__title {
  font-size: 25px;
  margin: 0 0 28px;
}

.about-us__item {
  font-size: 17px;
  line-height: 20px;
  position: relative;
  padding-top: 60px;
  margin-bottom: 30px;

  &::before {
    @include pseudo;
    display: block;
    background-repeat: no-repeat;
  }

  &--eco::before {
    width: 33px;
    height: 38px;
    background-image: url("../img/logo/eco.svg");
    left: 0;
    top: 6px;
  }

  &--price::before {
    width: 47px;
    height: 27px;
    background-image: url("../img/logo/price.svg");
    left: 0;
    top: 6px;
  }

  &--likes::before {
    width: 34px;
    height: 27px;
    background-image: url("../img/logo/likes.svg");
    left: 0;
    top: 6px;
  }

  &--love::before {
    width: 35px;
    height: 34px;
    background-image: url("../img/logo/love.svg");
    left: 0;
    top: 6px;
  }

  &--support::before {
    width: 55px;
    height: 23px;
    background-image: url("../img/logo/support.svg");
    left: 0;
    top: 6px;
  }

  &--gift::before {
    width: 33px;
    height: 32px;
    background-image: url("../img/logo/gift.svg");
    left: 0;
    top: 6px;
  }
}
