.about-us {
  font-weight: 700;
  color: $black;
  padding-top: 32px;
}

.about-us__inner {
  @include content-wrapper;
  margin: 0 auto;
}

.about-us__list {
  @include clear-list;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 9px;
  }
}

.about-us__item:nth-child(even) {
  @media (max-width: $mobile-width-only) {
    order: 2;
  }
}

.about-us__title {
  font-size: 25px;
  margin: 0 0 22px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin: 25px 0;
  }
}

.about-us__item {
  font-size: 17px;
  line-height: 20px;
  position: relative;
  padding-top: 60px;
  padding-right: 10px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding-top: 63px;
    width: 334px;
    margin-bottom: 49px;
  }

  &::before {
    @include pseudo;
    background-repeat: no-repeat;
    left: 0;
    top: 7px;
  }

  &--eco {
    &::before {
      left: 8px;
      width: 33px;
      height: 38px;
      background-image: url("../img/eco.svg");
    }
  }

  &--price {
    &::before {
      width: 47px;
      height: 27px;
      background-image: url("../img/price.svg");
    }
  }

  &--likes {
    &::before {
      left: 7px;
      top: 12px;
      width: 34px;
      height: 27px;
      background-image: url("../img/likes.svg");
    }
  }

  &--love {
    &::before {
      left: 3px;
      top: 9px;
      width: 35px;
      height: 34px;
      background-image: url("../img/love.svg");
    }
  }

  &--support {
    &::before {
      left: -5px;
      top: 10px;
      width: 55px;
      height: 23px;
      background-image: url("../img/support.svg");
    }
  }

  &--gift {
    &::before {
      left: 3px;
      width: 33px;
      height: 32px;
      background-image: url("../img/gift.svg");
    }
  }
}
