.button {
  display: inline-block;
  vertical-align: middle;

  padding: 16px 26px;

  text-align: center;
  font-family: inherit;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $grey;
  background-color: $white;

  border: 2px solid $grey;

  cursor: pointer;
}
