.catalog {
  padding-top: 29px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 73px;
  }

  @media (min-width: $desktop-width) {
    padding: 122px 50px 27px 50px;
  }
}

.catalog__list {
  @include clear-list;

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 51px;
  }
}

.catalog__item {
  @include wrapper;
}

.catalog__item:not(:last-child) {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
