.copyright {
  padding: 22px 0;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    .copyright__logo {
      fill: $primary-link-hover;
      transition: 0.3s;
    }
  }

  &:active {
    .copyright__logo {
      opacity: 0.3;
    }
  }
}

.copyright__title {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: $black;
  margin-right: 27px;

  @media (min-width: $desktop-width) {
    margin-right: 27px;
  }
}

.copyright__logo {
  fill: $primary-400;
}
