.description {
  padding: 27px;

  @media (min-width: $tablet-width) {
    padding: 25px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 32px 25px 26px;
    flex-grow: 1;
  }
}

.description__details {
  margin-bottom: 17px;

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
  }
}

.description__link {
  display: block;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.description__title {
  padding-bottom: 5px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;
  }
}

.description__options {
  margin: 0;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.description__order {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-top: 1px solid $grey-236;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
  }
}

.description__price {
  margin-top: 23px;
  line-height: 24px;
  font-weight: 700;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.description__cart {
  path {
    fill: rgba($color: $black, $alpha: 0.2);
  }
}

.description__order-button {
  width: 20px;
  height: 19px;
  display: block;
  font-size: 0;

  &:hover,
  &:focus {
    .description__cart path {
      opacity: 1;
      fill: $primary-400;
    }
  }
}

.description__order-button:active {
  .description__cart {
    path {
      opacity: 0.3;
    }
  }
}
