.description {
  padding: 28px;
}

.description__details {
  border-bottom: 1px solid $grey-236;
  padding-bottom: 15px;
}

.description__link {
  display: block;
}

.description__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
  margin: 0;
}

.description__options {
  font-size: 13px;
}

.description__order {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}

.description__price {
  line-height: 24px;
  font-weight: 700;
  color: $black;
}
