.description {
  padding: 28px;

  @media (min-width: $tablet-width) {
    padding-left: 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 32px 16px 28px;
    flex-grow: 1;
  }
}

.description__details {
  margin-bottom: 15px;
}

.description__link {
  display: block;
}

.description__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.description__options {
  font-size: 13px;
}

.description__order {
  border-top: 1px solid $grey-236;
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
}

.description__price {
  line-height: 24px;
  font-weight: 700;
  color: $black;
}

.description__cart {
  @media (min-width: $desktop-width) {
    &:hover,
    &:focus {
      path {
        fill: $primary-400;
      }
    }

    &:active {
      path {
        opacity: 0.3;
      }
    }
  }
}
