.details {
  line-height: 20px;
  border-collapse: collapse;
}

.details__item {
  border-bottom: 1px solid $grey-236;
}

.details__name {
  min-width: 97px;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    min-width: 82px;
    padding-top: 10px;
    padding-bottom: 11px;
  }
}

.details__value {
  min-width: 162px;
  padding: 10px 0;
}
