.featured__title {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $primary-400;
  text-transform: uppercase;
}

.featured__name {
  font-size: 25px;
  line-height: 30px;
  color: $black;
  text-transform: none;
}

.featured__description {
  line-height: 24px;
}

.featured__image {
  width: 260px;
  height: 315px;
  background-color: $grey-236;
}

.featured__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
