.field {
  &--fullname {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: max-content 1fr;
    }
  }
}

.field__name {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-right: 24px;
    padding: 18px 0;
  }
}

.field__inner {
  display: flex;
  width: 260px;
  align-items: center;
  border-bottom: 2px solid $black;
  padding-right: 3px;

  @media (min-width: $tablet-width) {
    width: 500px;
    padding-right: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 4px;
    width: 700px;

    &:hover {
      border-color: $primary-550;
    }
  }
}

.field__input {
  border: 0;
  border-bottom: 2px solid $black;
  width: 100%;
  padding: 12px 0 14px 0;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  background-color: transparent;

  &::placeholder {
    color: rgba($color: $black, $alpha: 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 18px;
  }

  @media (min-width: $desktop-width) {
    &:hover,
    &:focus,
    &:active {
      border-color: $primary-550;

      & + .field__icon path {
        fill: $primary-550;
      }
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  &--contacts {
    padding-bottom: 16px;
  }

  &--textarea {
    border: 2px solid $black;
    padding: 16px;
    height: 142px;
  }
}

.field__input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.field__icon {
  position: absolute;
  right: 6px;
  bottom: 17px;
  transition: fill 0.1s linear;

  & path {
    fill: rgba($color: $black, $alpha: 0.2);
  }

  &--tel {
    margin-right: 2px;
  }

  &--email {
    right: 4px;
    bottom: 15px;
  }
}
