.field {
  &--fullname {
    @media (min-width: $tablet-width) {
      display: flex;
      align-items: baseline;
    }
  }
}

.field__name {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-right: 24px;
    font-size: 19px;
  }
}

.field__inner {
  display: flex;
  width: 260px;
  align-items: center;
  border-bottom: 2px solid $black;
  padding-right: 3px;

  @media (min-width: $tablet-width) {
    width: 500px;
    padding-right: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 4px;
    width: 700px;

    &:hover {
      border-color: $primary-550;
    }
  }
}

.field__input {
  border: 0;
  border-bottom: 2px solid $black;
  width: 100%;
  padding: 12px 0 14px 0;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  background-color: transparent;

  &::placeholder {
    color: rgba($color: $black, $alpha: 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 18px;
    font-size: 19px;
    border-width: 3px;

    &--name {
      padding: 22px 18px 12px;
    }

    &--surname {
      padding: 22px 18px 10px;
    }

    &--patronymic {
      padding: 20px 19px 10px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $primary-550;

    & + .field__icon {
      fill: $primary-550;
    }
  }

  &:active,
  &:focus {
    outline: none;
  }

  &--contacts {
    padding-bottom: 14px;

    @media (min-width: $desktop-width) {
      padding-top: 20px;
    }
  }

  &--textarea {
    border: 2px solid $black;
    padding: 16px;
    height: 142px;
  }
}

.field__icon {
  position: absolute;
  right: 7px;
  bottom: 16px;
  transition: fill 0.1s linear;
  fill: rgba($color: $black, $alpha: 0.2);

  &--email {
    right: 3px;
    bottom: 16px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    right: 25px;

    &--email {
      right: 22px;
    }
  }
}
