.form-group {
  padding: 0 30px;
  position: relative;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.form-group__heading {
  width: 260px;
  display: flex;
  align-items: center;
  padding: 18px 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $primary-550;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 50px;
    left: 50px;
  }

  &::after {
    @media (max-width: $mobile-width-only) {
      content: "";
      flex-grow: 1;
      border-bottom: 1px solid $primary-550;
      margin-left: 20px;
    }
  }
}

.form-group__heading--email {
  @media (min-width: $tablet-width) {
    top: 125px;
  }
}

.form-group__list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -2;
  }

  &--colors {
    display: grid;
    row-gap: 23px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-end: -1;
    }
  }
}

.form-group__item {
  margin-bottom: 23px;
}

.form-group__add {
  @media (max-width: $mobile-width-only) {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -2;
  }
}
