.form-group {
  padding: 14px 30px;
  position: relative;

  &--colors {
    margin-bottom: 19px;
  }

  &--name {
    padding-bottom: 10px;
  }

  &--contacts {
    padding-bottom: 10px;
  }

  &--add {
    padding-bottom: 1px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.form-group__heading {
  width: 260px;
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  padding: 0;
  text-transform: uppercase;
  color: $primary-550;

  &--colors {
    padding-top: 7px;
    margin-bottom: 10px;
  }

  &--name {
    margin-bottom: 10px;
  }

  &--tel {
    margin-bottom: 9px;
  }

  &--add {
    margin-bottom: 22px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 50px;
    left: 50px;
    max-width: 170px;
  }

  &::after {
    @media (max-width: $mobile-width-only) {
      content: "";
      flex-grow: 1;
      border-bottom: 1px solid $primary-550;
      margin-left: 23px;
    }
  }

  &--tel::after {
    @media (max-width: $mobile-width-only) {
      margin-left: 30px;
    }
  }

  &--colors::after {
    @media (max-width: $mobile-width-only) {
      margin-left: 17px;
    }
  }

  &--name::after {
    @media (max-width: $mobile-width-only) {
      margin-left: 18px;
    }
  }
}

.form-group__heading--email {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    top: 125px;
  }
}

.form-group__list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -2;
  }

  &--colors {
    display: grid;
    row-gap: 23px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-end: -1;
    }
  }
}

.form-group__item {
  margin-bottom: 10px;

  &--name:not(:last-child) {
    margin-bottom: 16px;
  }

  &--contacts:not(:last-child) {
    margin-bottom: 35px;
  }
}

.form-group__add {
  @media (max-width: $mobile-width-only) {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -2;
  }
}
