.main-nav {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
}

.main-nav__logo {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    margin-right: 84px;
  }
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    font-size: 17px;
    line-height: 24px;
  }
}

.main-nav__user {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.main-nav__categories {
  @include clear-list;
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 15px;
    line-height: 24px;
  }
}
