.main-header {
  min-height: 177px;
  padding-top: 101px;
  padding-bottom: 63px;
  background-color: $grey-249;

  @media (max-width: $mobile-width-only) {
    padding-top: 74px;
    padding-bottom: 74px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 155px;

    &::after {
      @include pseudo;
      bottom: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg/zigzag-fill-tablet.svg");
      background-repeat: repeat-x;
      background-position: center center;
      z-index: 2;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 79px;
    padding-top: 158px;

    &::after {
      bottom: -10px;
      height: 37px;
      background-image: url("../img/bg/zigzag-fill-desktop.svg");
      background-size: cover;
    }
  }

  &--index {
    background-image: url("../img/bg/hero-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    padding-bottom: 0;
  }
}

.main-header__title {
  font-size: 27px;
  font-weight: 700;
  color: $black;
  text-align: center;

  margin: 0 auto;
  max-width: 260px;

  @media (min-width: $tablet-width) {
    max-width: 668px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }

  &--index {
    margin-bottom: 120px;

    @media (min-width: $tablet-width) {
      margin-bottom: 300px;
    }
  }
}

.main-header__products {
  @include clear-list;
}
