.main-header {
  min-height: 177px;
  padding-top: 155px;
  position: relative;

  background-color: $grey-241;

  @media (max-width: $mobile-width-only) {
    padding: 73px 0 0;
  }

  &--index {
    background-image: url("../img/bg/hero-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
  }
}

.main-header__title {
  font-size: 27px;
  font-weight: 700;
  color: $black;
  text-align: center;

  margin: 0 auto 120px;
  max-width: 260px;

  @media (min-width: $tablet-width) {
    max-width: 668px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.main-header__products {
  @include clear-list;
}
