.main-nav {
  width: 320px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    display: grid;
    grid-template-columns: 370px max-content;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    grid-template-columns: min-content 1fr auto;
  }
}

.main-nav__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 30px 22px 116px;
  border-bottom: 1px solid $grey-236;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.main-nav__logo {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-right: 84px;
  }
}

.main-nav__toggle {
  width: 21px;
  height: 20px;
  background-color: transparent;
  background-image: url("../img/menu-close.svg");
  background-size: 21px 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.main-nav__user {
  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
  }
}

.main-nav__categories {
  display: none;
}
