.main-header {
  min-height: 177px;
  padding-top: 72px;
  padding-bottom: 63px;
  background-color: $grey-241;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 155px;

    &::after {
      @include pseudo;
      bottom: -5px;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg/zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: center center;
      background-size: contain;
      z-index: 2;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 79px;
    padding-top: 158px;

    &::after {
      bottom: -10px;
      height: 34px;
      background-size: auto 34px;
    }
  }

  &--index {
    background-color: $grey-241;
    background-image: url("../img/bg/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center -19px;
    background-size: 574px auto;
    padding-bottom: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/hero-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      background-image: url("../img/bg/hero-tablet.jpg");
      background-size: 1150px auto;
      background-position-y: top;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg/hero-tablet@2x.jpg");
      }
    }
  }
}

.main-header__title {
  font-size: 27px;
  font-weight: 700;
  color: $black;
  text-align: center;

  margin: 0 auto;
  max-width: 260px;

  @media (min-width: $tablet-width) {
    max-width: 668px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }

  &--index {
    margin-bottom: 120px;

    @media (min-width: $tablet-width) {
      margin-bottom: 372px;
    }
  }
}

.main-header__products {
  @include clear-list;
}
