.making {
  padding: 0 30px;
  position: relative;

  &::after {
    @include pseudo;
    z-index: -1;
    width: 260px;
    height: 507px;
    bottom: 10px;
    right: 30px;

    @media (min-width: $tablet-width) {
      right: 50px;
      height: 304px;
      width: 668px;
    }

    @media (min-width: $desktop-width) {
      width: 367px;
      height: 455px;
    }
  }

  &:hover,
  &:focus-within {
    &::after {
      box-shadow: 0 6px 10px 0 rgba($color: $black, $alpha: 0.1);
    }
  }

  &:active {
    &::after {
      box-shadow: 0 3px 5px 0 rgba($color: $black, $alpha: 0.1);
    }
  }

  @media (min-width: $tablet-width) {
    padding: 10px 50px;
    display: grid;
    grid-template-areas: "video" "title" "inner";
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 683px 1fr;
    grid-template-rows: 172px max-content;
    grid-template-areas: "video title" "video inner";
    position: relative;
  }
}

.making__title {
  display: flex;
  align-items: center;
  padding: 20px 0 27px 34px;
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
  border: 1px solid $grey-236;
  border-bottom: none;

  @media (min-width: $tablet-width) {
    padding: 41px 33px 15px 43px;
    font-size: 20px;
    border-top: none;
    grid-area: title;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    padding: 47px 110px 14px 79px;
    border-left: none;
    border-top: 1px solid $grey-236;
  }

  &::before {
    content: "";
    width: 38px;
    height: 22px;
    margin-right: 25px;
    background-image: url("../img/video.svg");
    background-size: 32px 22px;
    background-repeat: no-repeat;

    @media (min-width: $desktop-width) {
      margin-bottom: 27px;
    }
  }
}

.making__video {
  position: relative;
  line-height: 0;

  @media (min-width: $tablet-width) {
    grid-area: video;
  }
}

.making__video-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 101px 77px;
  transition: transform 0.1s ease-in;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.making__poster {
  width: 262px;
  height: 150px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
  }
}

.making__inner {
  border: 1px solid $grey-236;
  border-top: none;
  padding: 21px 32px 31px 33px;

  @media (min-width: $tablet-width) {
    padding: 10px 42px 46px 42px;
    grid-area: inner;
  }

  @media (min-width: $desktop-width) {
    padding-left: 79px;
    margin-bottom: 0;
    border-left: none;
  }
}

.making__description {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.making__order {
  font-size: 18px;
  line-height: 16px;
  padding: 16px 0;
  margin-top: 8px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}
