.order-form {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
  }
}

.order-form__group-wrapper {
  @media (min-width: $tablet-width) {
    background-color: $grey-241;
  }
}

.order-form__group {
  @include wrapper;
  border: 0;
}

.order-form__remark {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 15px 0;

  @media (min-width: $tablet-width) {
    order: 2;
    font-size: 17px;
    line-height: 30px;
    margin: 10px 0;
  }
}

.order-form__button {
  font-size: 17px;
  line-height: 16px;
  margin: 15px auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 230px;
  }
}

.order-form__notes {
  @include wrapper;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0 225px;
  }
}
