.order-form {
  padding-bottom: 55px;
}

.order-form__group {
  border: 0;
}

.order-form__note {
  font-size: 14px;
  line-height: 16px;
}

.order-form__button {
  font-size: 17px;
  line-height: 16px;
}
