.page-main__header {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: -61px;
    margin-bottom: -9px;
  }
}

.page-main__top-offer {
  @include wrapper;
}

.page-main__about {
  @include wrapper;
}

.page-main__reviews {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 100%;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
  }
}

.page-main__contacts {
  margin: 0 auto;
  max-width: 1050px;
}

.page-main__description {
  font-size: 13px;
  line-height: 24px;
}

.page-main__making {
  border: 1px solid $grey-236;
}
