.page {
  height: 100%;
}

.page__body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  color: $grey;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  position: relative;
}
