.page {
  height: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  color: $grey;
  background-color: $white;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page__header {
  @include wrapper;
}

.page__footer {
  margin-top: 39px;
}
