.products__list {
  @include clear-list;
}

.products__item {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $white;

  &--interior {
    background-color: $primary-400;
  }

  &--toys {
    background-color: $primary-500;
  }
}
