.products {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.products__item {
  position: relative;
}

.products__item-inner {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 334px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
  }
}

.products__link {
  display: block;
  position: relative;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $white;

  padding: 24px 160px 31px 30px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 26px 167px 39px 36px;
    transition: all 0.3s ease-in-out;
  }

  @media (min-width: $desktop-width) {
    padding: 26px 350px 39px 37px;
  }

  &::after {
    @include pseudo;
    width: 62px;
    height: 62px;
    right: 16px;
    top: 23px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
  }

  &--interior {
    background-color: $primary-400;

    &::after {
      background-image: url("../img/interior.svg");
    }

    @media (min-width: $desktop-width) {
      &:hover,
      &:focus,
      &:active {
        background-color: $primary-575;
      }
    }
  }

  &--toys {
    background-color: $primary-500;

    &::after {
      background-image: url("../img/toy.svg");
    }

    @media (min-width: $desktop-width) {
      &:hover,
      &:focus,
      &:active {
        background-color: $primary-link-hover;
      }
    }
  }

  &:hover,
  &:focus {
    @media (min-width: $desktop-width) {
      transform: translateY(-5px);

      &::after {
        opacity: 0.7;
      }
    }
  }

  &:active {
    @media (min-width: $desktop-width) {
      &::after {
        opacity: 0.3;
      }
    }
  }
}
