.product {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    display: flex;
    flex-direction: column;

    &:hover > .product__description {
      box-shadow: 0 6px 10px 0 rgba($color: $black, $alpha: 0.1);
    }

    &:active > .product__description {
      box-shadow: 0 3px 5px 0 rgba($color: $black, $alpha: 0.1);
    }
  }
}

.product__link {
  display: block;
  font-size: 0;
  line-height: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
  }
}

.product__img {
  width: 260px;
  height: 195px;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product__description {
  border: 1px solid $grey-236;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
  }
}
