.product {
  padding: 0 30px;
}

.product__link {
  display: block;
  font-size: 0;
  line-height: 0;
}

.product__img {
  width: 260px;
  height: 195px;
}

.product__description {
  border: 1px solid $grey-236;
}
