.radio {
  position: relative;
  display: block;
  padding-left: 60px;

  @media (min-width: $tablet-width) {
    padding-left: 80px;
  }
}

.radio__input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  opacity: 0;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
  }

  &:checked + .radio__name::after {
    @include pseudo;

    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    background-color: $primary-550;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 16px;
      left: 17px;
      width: 20px;
      height: 20px;
    }
  }

  &:focus + .radio__name::before {
    border-color: $primary-550;
  }
}


.radio__name {
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $black;
  min-height: 42px;

  @media (min-width: $tablet-width) {
    min-height: 52px;
    font-size: 19px;
  }

  &:hover {
    &::before {
      border-color: $primary-550;
    }
  }

  &:active {
    &::before {
      border-color: rgba($color: $black, $alpha: 0.3);
    }
  }

  &::before {
    @include pseudo;

    left: 0;
    top: 0;

    width: 40px;
    height: 40px;
    border: 2px solid $grey;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 50px;
      height: 50px;
      left: 2px;
      top: 1px;
    }
  }
}
