.reviews {
  padding-top: 37px;
  background-color: $white;

  &::after {
    content: "";
    display: block;
    width: 320px;
    height: 6px;
    background-image: url("../img/bg/zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: 320px 6px;
  }

  @media (min-width: $tablet-width) {
    padding: 83px 0 10px 0;
    background-image: url("../img/bg/review.jpg");
    background-size: 350px 457px;
    background-repeat: no-repeat;
    background-position: left top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/review@2x.jpg");
    }

    &::after {
      width: 768px;
      height: 17px;
      margin: 0 auto;
      background-size: 768px 17px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      width: 1050px;
      height: 23px;
      background-size: 1050px 23px;
    }
  }
}

.reviews__inner {
  @include content-wrapper;
  margin: 0 auto;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    display: grid;
    grid-template-columns: 1fr 175px;
    padding-bottom: 115px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    padding: 0 50px 163px 174px;
  }
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $black;
  margin: 0 0 14px;

  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}

.reviews__item {
  display: none;

  &--current {
    display: block;
  }
}

.reviews__list figure {
  margin: 0;
}

.reviews__text {
  margin: 0 0 33px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    width: 650px;
  }

  @media (min-width: $desktop-width) {
    width: 806px;
  }
}

.reviews__author {
  max-width: 700px;
  margin-bottom: 30px;
}

.reviews__toggles {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-bottom: 0;
    margin-top: auto;
  }
}

.reviews__write {
  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}
