.site-list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 31px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    line-height: 24px;
    padding-left: 17px;
  }
}

.site-list__item {
  border-bottom: 1px solid $grey-236;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    border-bottom: none;
  }
}

.site-list__item:not(:last-child) {
  @media (min-width: $tablet-width) {
    margin-right: 5px;
  }

  @media (min-width: $desktop-width) {
    border-right: 1px solid $grey-236;
    margin-right: 0;
  }
}

.site-list__link {
  display: block;
  padding-left: 75px;
  padding-top: 26px;
  padding-bottom: 28px;
  max-width: 320px;
  margin: 0 auto;

  &::after {
    @media (max-width: $mobile-width-only) {
      @include pseudo;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 23px 15px 18px 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 38px 28px 32px;
  }

  &:hover,
  &:focus {
    transition: 0.3s;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
