.social {
  padding: 22px 0;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $grey-229;
  }
}

.social__list {
  @include clear-list;
  display: flex;
  justify-content: center;
}


.social__item:not(:last-child) {
  margin-right: 25px;

  @media (min-width: $tablet-width) {
    margin-right: 24px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 35px;
  min-height: 35px;

  &:hover,
  &:focus {
    .social__icon path {
      fill: $primary-link-hover;
      transition: 0.3s;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
