.toggles {
  display: flex;
}

.toggles__item {
  display: block;
  padding: 0;
  width: calc(100% / 2);
  height: 52px;
  background-color: $white;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;

  @media (max-width: $mobile-width-only) {
    border: 1px solid $grey-236;
  }

  &--next {
    transform: rotate(180deg);
  }

  &:hover,
  :focus {
    opacity: 0.6;
    transition: 0.3s;
  }

  &:active {
    opacity: 0.3;
  }
}
