.toggles {
  display: flex;
}

.toggles__item {
  display: block;
  width: 130px;
  height: 52px;
  background-color: $white;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid $grey-236;

  &--next {
    transform: rotate(180deg);
  }
}
