.top-offer {
  padding: 33px 0 5px 0;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 0;
    background-image: url("../img/bg/zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 320px 6px;
  }

  @media (min-width: $tablet-width) {
    padding: 40px 0;

    &::after {
      width: 768px;
      height: 17px;
      background-size: 768px 17px;
      background-position-x: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding-top: 115px;

    &::after {
      width: 1050px;
      height: 23px;
      background-size: 1050px 23px;
    }
  }
}

.top-offer__inner {
  @include content-wrapper;
  margin: 0 auto;
  position: relative;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-bottom: 29px;
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 73px 175px;
  }
}

.top-offer__title-wrapper {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
    margin-left: -140px;

    flex-direction: row;
    justify-content: flex-start;
  }
}

.top-offer__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $primary-400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 100px;

    text-align: center;
    line-height: 17px;
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }
}

.top-offer__name {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $black;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.top-offer__description-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 292px 334px;
    column-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 292px;
  }
}

.top-offer__description {
  line-height: 24px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 0.5px;
  }
}

.top-offer__details {
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.top-offer__image img {
  width: 100%;
  background-color: $grey-236;
}

.top-offer__image {
  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    width: 334px;
    height: 404px;
    padding-top: 27px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;

    position: absolute;
    z-index: -1;
    right: 0;
    top: -60px;
  }
}

.top-offer__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;

  margin-top: 18px;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin: 28px auto;
    font-size: 20px;
  }
}

.top-offer__order {
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 292px;
    height: 52px;
    padding: 16px 86px;
    margin-top: 5px;
  }
}
