.user {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.user__link {
  display: flex;
  flex-wrap: wrap;
  min-height: 79px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $grey-236;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0;
    height: 100%;
    border: none;
  }

  &--search {
    @media (min-width: $tablet-width) {
      border-right: 1px solid $grey-236;
      border-left: 1px solid $grey-236;
    }
  }

  &:hover,
  &:focus {
    .user__title {
      opacity: 0.6;
    }

    .user__icon path {
      fill: $primary-400;
      fill-opacity: 1;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.user__link-inner {
  @media (max-width: $mobile-width-only) {
    width: 320px;
    padding-left: 25px;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 0;
  }
}

.user__icon {
  margin-right: 26px;
  fill-opacity: 0.2;

  @media (min-width: $tablet-width) {
    margin: 0 31px;
  }
}

.user__title {
  &--search {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
