$grey: #444444;
$white: #ffffff;
$black: #000000;

$primary: #63d1bb;
$primary-400: $primary;
$primary-500: #56c3b2;
$primary-600: #149080;

$grey-229: #e5e5e5;
$grey-236: #ececec;
$grey-241: #f1f1f1;
