$grey: #444444;
$white: #ffffff;
$black: #000000;
$black-10: rgba($black, 0.1);

$primary: #63d1bb;
$primary-400: $primary;
$primary-500: #56c3b2;
$primary-550: #62d1ba;
$primary-600: #149080;
$primary-link-hover: #46c1ae;

$grey-229: #e5e5e5;
$grey-236: #ececec;
$grey-241: #f1f1f1;
$grey-249: #f9f9f9;
