//Global

@import "global/box-model.scss";
@import "global/fonts.scss";
@import "global/global.scss";
@import "global/mixins.scss";
@import "global/variables.scss";


//Blocks

@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/categories-list.scss";
@import "blocks/main-header.scss";
@import "blocks/products.scss";
@import "blocks/featured.scss";
@import "blocks/details.scss";
@import "blocks/about-us.scss";
@import "blocks/reviews.scss";
@import "blocks/author.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/page-modal.scss";
@import "blocks/add-to-cart.scss";


//Components
@import "components/button.scss";
@import "components/toggles.scss";
